
.background-img-banner{
    display: block;
    height: 550px;
    background: url(../../../public/back-ground-image-banner.jpg) no-repeat center /100%;
    background-attachment: fixed;
    z-index: -1;
    opacity: .9;
}
.banner-button{
    position: absolute;
}
.main-banner-text{
    font-size: 2em;
    font-weight: 900;
    color: aliceblue;
}

.main-banner-button{
    margin-top: 50px;
}
