.background-img-banner{
    height: 80vh;
    background: url(../../../public/back-ground-image-banner.jpg) no-repeat center /100%;
    overflow: hidden;
    background-attachment: fixed;
    background-size: cover;
    z-index: -1;
    opacity: .9;
    flex-direction: column;
}
.banner-button{
    position: absolute;
}
.main-banner-text{
    font-size: 2em;
    font-weight: 900;
    color: white;
}

.main-banner-button{
    margin-top: 50px;
}
