body {
  margin: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.with-margin{
  margin: 60px 60px;
}
.abs-centre{
  display: flex;
  align-items: center;
  justify-content: center;
}
